/*
  //=require_directory .
  //=require_tree ../../widgets
*/
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

@font-face {
  font-family: "Matter";
  src: url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22319c3afa2391843c18_Matter-Light.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22319c3afa858a843c17_Matter-Light.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22314545513690dce4e0_Matter-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Matter";
  src: url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22314545515096dce4df_Matter-Heavy.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22314e1172bbcdd782a6_Matter-Heavy.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22318474c4828d1d642e_Matter-Heavy.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Matter";
  src: url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22316e3cf016bb0e7a02_Matter-Bold.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22319c3afacdbf843c15_Matter-Bold.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22319c3afa8fc8843c16_Matter-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Matter";
  src: url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22319c3afab655843c19_Matter-Medium.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22315216e3238294cfcd_Matter-Medium.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22325216e3e9f294cfd3_Matter-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Matter";
  src: url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22315216e36c7e94cfce_Matter-Regular.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22328474c486811d6430_Matter-Regular.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22325216e32f0594cfd0_Matter-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Matter";
  src: url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22325216e360bd94cfd1_Matter-SemiBold.woff2")
      format("woff2"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22319c3afa3a7e843c1a_Matter-SemiBold.eot")
      format("embedded-opentype"),
    url("https://assets.website-files.com/5cd5a36e899e7006018481c6/5d3b22315216e33db594cfcf_Matter-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}


$background-color: #222;
$text-color: #fff;

$background-danger-color-1: #e82711;
$background-danger-color-2: #9b2d23;
$text-danger-color: #fff;

$background-warning-color-1: #eeae32;
$background-warning-color-2: #ff9618;
$text-warning-color: #fff;

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $background-color;
  font-size: 20px;
  color: $text-color;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: $text-color;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: $text-color;
}

// ----------------------------------------------------------------------------
// Base widget styles
// ----------------------------------------------------------------------------
.gridster {
  bottom:64px;
  z-index: 999999999;
  align-items: center;
  align-self: flex-end;
  margin: 0px auto;
}
#container {
  display:flex;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs_w {
  width: 100%;
  display: table;
  cursor: pointer;
}

.widget {
  text-align: center;
  width: inherit;
  height: inherit;
  display: table-cell;
  backdrop-filter: saturate(180%) blur(10px);
  vertical-align: middle;
}

.widget.status-warning {
  background-color: $background-warning-color-1;
  @include animation(status-warning-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-warning-color;
  }
}

.widget.status-danger {
  color: $text-danger-color;
  background-color: $background-danger-color-1;
  @include animation(status-danger-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-danger-color;
  }
}

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.updated-at {
  font-size: 15px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}

#save-gridster {
  display: none;
  position: fixed;
  top: 0;
  margin: 0px auto;
  left: 50%;
  z-index: 1000;
  background: black;
  width: 190px;
  text-align: center;
  border: 1px solid white;
  border-top: 0px;
  margin-left: -95px;
  padding: 15px;
}

#save-gridster:hover {
  padding-top: 25px;
}

#saving-instructions {
  display: none;
  padding: 10px;
  width: 500px;
  height: 122px;
  z-index: 1000;
  background: white;
  top: 100px;
  color: black;
  font-size: 15px;
  padding-bottom: 4px;

  textarea {
    white-space: nowrap;
    width: 494px;
    height: 80px;
  }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#container {
  padding-top: 5px;
}


// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*  */
body {
  background-color: #f1f5fe;
  mix-blend-mode: multiply;
}
.wrapped {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.logo {
  z-index: 9999;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 64px;
  top: 64px;
}
#number {
  position: absolute;
  left: 96px;
  top: 200px;
  font-weight: normal;
  font-size: 64px;
  font-family: Matter;
}
.bot-logo {
  z-index: 9999;
  position: absolute;
  top: 64px;
  width: 32px;
  height: 32px;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #f1f5fe;
  mix-blend-mode: multiply;
}

#container-globe canvas {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100vw !important;
  filter: hue-rotate(80deg) invert(0);
  mix-blend-mode: multiply;
}
#container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  overflow: hidden;
}
nav {
  position: absolute;
  top: 64px;
  right:64px;
  z-index: 9999;

}

/* Circles */
.client {
  position: absolute;
  top: 64px;
  left: 120px;
  z-index: 9999;
  border-left: 1px solid #adb4bd;
  padding-left: 24px;
}

.circles-wrapper {
  z-index: 3;
  opacity: 0.5;
  width: 100vh;
  height: 100vh;
}
.circles-wrapper {
  position: absolute;
  top: 0%;
  right: 50%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translate(50%, 0%);
  transform: translate(50%, 0%) scale(1.7);
}
.circles--splash.circles-inner {
  -webkit-animation: pulse 2.5s infinite linear;
  animation: pulse 2.5s infinite linear;
}
.circles {
  width: 100vh;
  height: 100vh;
  transition: transform 1.5s, -webkit-transform 1.5s;
}
.circles--splash .circle {
  border-color: #d2d5d9;
}
.circle--outer {
  width: 1248px;
  height: 1248px;
}
.circle--middle {
  width: 910px;
  height: 910px;
}
.circle--inner {
  width: 572px;
  height: 572px;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 50%;
  border: 1px solid #eeeff0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 0;
  }
}

li {
  // transform:scale(.8);
}
