<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= yield_content(:title) %> test</title>



  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/public/favicon.ico">

</head>
  <body>
    <nav>
      <svg
        width="502"
        height="37"
        viewBox="0 0 502 37"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <rect
            x="3.25671"
            width="94.4449"
            height="36.2892"
            rx="18.1446"
            fill="white"
            fill-opacity="0.2"
          />
          <path
            d="M23.9508 23.9799C26.9879 23.9799 29.2211 21.7319 29.2211 18.6501C29.2211 15.5683 26.9879 13.3202 23.9508 13.3202C20.8988 13.3202 18.6656 15.5683 18.6656 18.6501C18.6656 21.7319 20.8988 23.9799 23.9508 23.9799ZM23.9508 22.2232C22.06 22.2232 20.7052 20.7195 20.7052 18.6501C20.7052 16.5807 22.06 15.0621 23.9508 15.0621C25.8416 15.0621 27.1815 16.5807 27.1815 18.6501C27.1815 20.7195 25.8416 22.2232 23.9508 22.2232ZM32.6051 23.8608H34.3469L37.0863 16.3574H35.1807L33.4686 21.6872L31.7565 16.3574H29.8657L32.6051 23.8608ZM44.8651 19.856C44.8651 18.1141 43.6294 16.2383 41.0985 16.2383C38.6122 16.2383 37.3914 18.1588 37.3914 20.1091C37.3914 22.0594 38.7164 23.9799 41.2027 23.9799C42.9595 23.9799 44.2696 23.1462 44.6864 21.7319L42.9297 21.2555C42.7361 21.985 42.1108 22.4018 41.2325 22.4018C40.1605 22.4018 39.431 21.7319 39.2673 20.6004H44.8353C44.8502 20.4515 44.8651 20.124 44.8651 19.856ZM39.3119 19.2307C39.5204 18.2183 40.1754 17.6675 41.0985 17.6675C42.1853 17.6675 42.7659 18.3374 42.8552 19.2307H39.3119ZM51.1227 18.1737L51.2418 16.3574C51.0184 16.2829 50.6909 16.2383 50.4229 16.2383C49.5148 16.2383 48.5322 16.8784 48.16 17.727V16.3574H46.2841V23.8608H48.16V21.1066C48.16 18.8734 49.1128 17.995 50.1698 17.995C50.4974 17.995 50.8547 18.0546 51.1227 18.1737ZM54.2826 23.8608H56.0245L58.7638 16.3574H56.8582L55.1461 21.6872L53.434 16.3574H51.5432L54.2826 23.8608ZM60.7287 15.211C61.4135 15.211 61.9197 14.7048 61.9197 14.0497C61.9197 13.4096 61.4135 12.9034 60.7287 12.9034C60.0587 12.9034 59.5674 13.4096 59.5674 14.0497C59.5674 14.7048 60.0587 15.211 60.7287 15.211ZM59.7908 23.8608H61.6666V16.3574H59.7908V23.8608ZM70.5554 19.856C70.5554 18.1141 69.3197 16.2383 66.7887 16.2383C64.3025 16.2383 63.0817 18.1588 63.0817 20.1091C63.0817 22.0594 64.4067 23.9799 66.893 23.9799C68.6497 23.9799 69.9599 23.1462 70.3767 21.7319L68.62 21.2555C68.4264 21.985 67.8011 22.4018 66.9227 22.4018C65.8508 22.4018 65.1213 21.7319 64.9575 20.6004H70.5256C70.5405 20.4515 70.5554 20.124 70.5554 19.856ZM65.0022 19.2307C65.2106 18.2183 65.8657 17.6675 66.7887 17.6675C67.8756 17.6675 68.4562 18.3374 68.5455 19.2307H65.0022ZM73.4549 23.8608H75.1223L76.6707 18.9627L78.1892 23.8608H79.8716L82.1941 16.3574H80.3033L79.023 21.2406L77.5193 16.3574H75.8072L74.3035 21.2406L73.0083 16.3574H71.1175L73.4549 23.8608Z"
            fill="white"
          />
          <circle cx="2.79147" cy="20.0053" r="2.79147" fill="white" />
          <path
            d="M121.169 23.9799C123.506 23.9799 125.039 22.774 125.039 20.9577C125.039 16.7593 119.322 18.2183 119.322 16.1192C119.322 15.3152 120.007 14.8388 121.139 14.8388C122.33 14.8388 123.149 15.5088 123.357 16.5658L124.92 15.9256C124.623 14.3624 123.089 13.3202 121.139 13.3202C119.099 13.3202 117.566 14.4666 117.566 16.1192C117.566 19.8709 123.268 18.5161 123.268 20.9875C123.268 21.8808 122.464 22.4614 121.228 22.4614C119.978 22.4614 118.95 21.583 118.772 20.2431L117.179 20.7344C117.476 22.64 119.144 23.9799 121.169 23.9799ZM133.449 19.8262C133.449 17.995 132.169 16.2383 129.757 16.2383C127.375 16.2383 126.094 18.0844 126.094 20.1091C126.094 22.1338 127.449 23.9799 129.831 23.9799C131.588 23.9799 132.868 23.1462 133.27 21.7021L131.737 21.315C131.543 22.1338 130.844 22.5954 129.861 22.5954C128.67 22.5954 127.836 21.7914 127.687 20.4962H133.419C133.434 20.3622 133.449 20.0495 133.449 19.8262ZM127.762 19.2605C128 18.1439 128.73 17.5186 129.757 17.5186C130.948 17.5186 131.618 18.2481 131.722 19.2605H127.762ZM134.958 23.8608H136.581V20.5706C136.581 18.7692 137.34 17.6973 138.606 17.6973C139.558 17.6973 140.139 18.3523 140.139 19.2903V23.8608H141.762V18.9181C141.762 17.2953 140.645 16.2383 139.052 16.2383C137.951 16.2383 137.087 16.804 136.581 17.6079V16.3574H134.958V23.8608ZM147.663 23.8013L147.559 22.3572C147.276 22.4912 146.934 22.5358 146.651 22.5358C146.04 22.5358 145.623 22.1487 145.623 21.4043V17.7419H147.559V16.3574H145.623V14.1242H144.001V16.3574H142.691V17.7419H144.001V21.4937C144.001 23.2058 145.058 23.9799 146.472 23.9799C146.889 23.9799 147.306 23.9204 147.663 23.8013ZM149.836 15.1068C150.446 15.1068 150.908 14.6453 150.908 14.0646C150.908 13.4691 150.446 13.0076 149.836 13.0076C149.24 13.0076 148.794 13.4691 148.794 14.0646C148.794 14.6453 149.24 15.1068 149.836 15.1068ZM149.032 23.8608H150.655V16.3574H149.032V23.8608ZM152.579 23.8608H154.202V20.0644C154.202 18.6352 154.842 17.6377 155.959 17.6377C156.912 17.6377 157.433 18.263 157.433 19.2009V23.8608H159.041V20.0644C159.041 18.6203 159.681 17.6377 160.797 17.6377C161.75 17.6377 162.286 18.263 162.286 19.2009V23.8608H163.909V18.799C163.909 17.2804 162.867 16.2383 161.259 16.2383C160.083 16.2383 159.189 16.9082 158.787 17.727C158.475 16.7593 157.611 16.2383 156.405 16.2383C155.319 16.2383 154.604 16.804 154.202 17.6228V16.3574H152.579V23.8608ZM172.762 19.8262C172.762 17.995 171.482 16.2383 169.07 16.2383C166.688 16.2383 165.408 18.0844 165.408 20.1091C165.408 22.1338 166.762 23.9799 169.145 23.9799C170.901 23.9799 172.182 23.1462 172.584 21.7021L171.05 21.315C170.857 22.1338 170.157 22.5954 169.174 22.5954C167.983 22.5954 167.15 21.7914 167.001 20.4962H172.733C172.747 20.3622 172.762 20.0495 172.762 19.8262ZM167.075 19.2605C167.313 18.1439 168.043 17.5186 169.07 17.5186C170.261 17.5186 170.931 18.2481 171.035 19.2605H167.075ZM174.271 23.8608H175.894V20.5706C175.894 18.7692 176.653 17.6973 177.919 17.6973C178.872 17.6973 179.452 18.3523 179.452 19.2903V23.8608H181.075V18.9181C181.075 17.2953 179.958 16.2383 178.365 16.2383C177.264 16.2383 176.4 16.804 175.894 17.6079V16.3574H174.271V23.8608ZM186.976 23.8013L186.872 22.3572C186.589 22.4912 186.247 22.5358 185.964 22.5358C185.354 22.5358 184.937 22.1487 184.937 21.4043V17.7419H186.872V16.3574H184.937V14.1242H183.314V16.3574H182.004V17.7419H183.314V21.4937C183.314 23.2058 184.371 23.9799 185.785 23.9799C186.202 23.9799 186.619 23.9204 186.976 23.8013Z"
            fill="#8A919E"
          />
          <path
            d="M229.511 23.8608H231.313L227.248 13.4393H225.626L221.576 23.8608H223.377L224.3 21.4043H228.588L229.511 23.8608ZM224.866 19.9007L226.444 15.7321L228.022 19.9007H224.866ZM239.013 16.3574H237.39V19.6476C237.39 21.449 236.631 22.5209 235.38 22.5209C234.427 22.5209 233.832 21.8659 233.832 20.9279V16.3574H232.209V21.3001C232.209 22.9229 233.326 23.9799 234.933 23.9799C236.02 23.9799 236.899 23.4142 237.39 22.6103V23.8608H239.013V16.3574ZM245.19 23.8013L245.086 22.3572C244.803 22.4912 244.461 22.5358 244.178 22.5358C243.567 22.5358 243.151 22.1487 243.151 21.4043V17.7419H245.086V16.3574H243.151V14.1242H241.528V16.3574H240.218V17.7419H241.528V21.4937C241.528 23.2058 242.585 23.9799 243.999 23.9799C244.416 23.9799 244.833 23.9204 245.19 23.8013ZM249.868 23.9799C252.116 23.9799 253.739 22.3572 253.739 20.1091C253.739 17.861 252.116 16.2383 249.868 16.2383C247.605 16.2383 245.997 17.861 245.997 20.1091C245.997 22.3572 247.605 23.9799 249.868 23.9799ZM249.868 22.5656C248.528 22.5656 247.635 21.5532 247.635 20.1091C247.635 18.665 248.528 17.6526 249.868 17.6526C251.193 17.6526 252.101 18.665 252.101 20.1091C252.101 21.5532 251.193 22.5656 249.868 22.5656ZM255.239 23.8608H256.861V20.0644C256.861 18.6352 257.502 17.6377 258.618 17.6377C259.571 17.6377 260.092 18.263 260.092 19.2009V23.8608H261.7V20.0644C261.7 18.6203 262.34 17.6377 263.457 17.6377C264.41 17.6377 264.946 18.263 264.946 19.2009V23.8608H266.568V18.799C266.568 17.2804 265.526 16.2383 263.918 16.2383C262.742 16.2383 261.849 16.9082 261.447 17.727C261.134 16.7593 260.271 16.2383 259.065 16.2383C257.978 16.2383 257.263 16.804 256.861 17.6228V16.3574H255.239V23.8608ZM271.328 16.2383C269.735 16.2383 268.454 17.206 268.216 18.6799L269.675 18.9478C269.779 18.0546 270.419 17.5186 271.328 17.5186C272.31 17.5186 272.95 18.0844 272.95 19.0074V19.1116L271.536 19.2605C269.228 19.4987 268.082 20.2878 268.082 21.7617C268.082 23.042 269.109 23.9799 270.598 23.9799C271.595 23.9799 272.519 23.4738 272.95 22.7145V23.8608H274.543V19.1861C274.543 17.3102 273.233 16.2383 271.328 16.2383ZM270.926 22.7294C270.166 22.7294 269.675 22.3125 269.675 21.717C269.675 21.0619 270.3 20.6153 271.521 20.4813L272.95 20.3175V20.6302C272.935 21.851 272.191 22.7294 270.926 22.7294ZM280.607 23.8013L280.503 22.3572C280.22 22.4912 279.878 22.5358 279.595 22.5358C278.984 22.5358 278.567 22.1487 278.567 21.4043V17.7419H280.503V16.3574H278.567V14.1242H276.945V16.3574H275.635V17.7419H276.945V21.4937C276.945 23.2058 278.002 23.9799 279.416 23.9799C279.833 23.9799 280.25 23.9204 280.607 23.8013ZM282.78 15.1068C283.39 15.1068 283.852 14.6453 283.852 14.0646C283.852 13.4691 283.39 13.0076 282.78 13.0076C282.184 13.0076 281.738 13.4691 281.738 14.0646C281.738 14.6453 282.184 15.1068 282.78 15.1068ZM281.976 23.8608H283.598V16.3574H281.976V23.8608ZM288.992 23.9799C291.24 23.9799 292.863 22.3572 292.863 20.1091C292.863 17.861 291.24 16.2383 288.992 16.2383C286.729 16.2383 285.121 17.861 285.121 20.1091C285.121 22.3572 286.729 23.9799 288.992 23.9799ZM288.992 22.5656C287.652 22.5656 286.759 21.5532 286.759 20.1091C286.759 18.665 287.652 17.6526 288.992 17.6526C290.317 17.6526 291.225 18.665 291.225 20.1091C291.225 21.5532 290.317 22.5656 288.992 22.5656ZM294.363 23.8608H295.986V20.5706C295.986 18.7692 296.745 17.6973 298.01 17.6973C298.963 17.6973 299.544 18.3523 299.544 19.2903V23.8608H301.167V18.9181C301.167 17.2953 300.05 16.2383 298.457 16.2383C297.355 16.2383 296.492 16.804 295.986 17.6079V16.3574H294.363V23.8608Z"
            fill="#8A919E"
          />
          <path
            d="M344.427 23.8608H346.228L342.164 13.4393H340.541L336.492 23.8608H338.293L339.216 21.4043H343.504L344.427 23.8608ZM339.782 19.9007L341.36 15.7321L342.938 19.9007H339.782ZM353.928 16.3574H352.306V19.6476C352.306 21.449 351.546 22.5209 350.296 22.5209C349.343 22.5209 348.747 21.8659 348.747 20.9279V16.3574H347.125V21.3001C347.125 22.9229 348.241 23.9799 349.849 23.9799C350.936 23.9799 351.814 23.4142 352.306 22.6103V23.8608H353.928V16.3574ZM359.034 23.9799C360.031 23.9799 360.94 23.5333 361.297 22.908V23.8608H362.92V13.3202H361.297V17.2953C360.85 16.67 359.972 16.2383 359.004 16.2383C356.741 16.2383 355.446 17.8461 355.446 20.1091C355.446 22.3721 356.741 23.9799 359.034 23.9799ZM359.242 22.5656C357.932 22.5656 357.069 21.583 357.069 20.1091C357.069 18.6203 357.932 17.6526 359.242 17.6526C360.553 17.6526 361.416 18.6203 361.416 20.1091C361.416 21.583 360.553 22.5656 359.242 22.5656ZM365.637 15.1068C366.247 15.1068 366.709 14.6453 366.709 14.0646C366.709 13.4691 366.247 13.0076 365.637 13.0076C365.041 13.0076 364.595 13.4691 364.595 14.0646C364.595 14.6453 365.041 15.1068 365.637 15.1068ZM364.833 23.8608H366.456V16.3574H364.833V23.8608ZM375.333 19.8262C375.333 17.995 374.053 16.2383 371.641 16.2383C369.259 16.2383 367.979 18.0844 367.979 20.1091C367.979 22.1338 369.333 23.9799 371.715 23.9799C373.472 23.9799 374.753 23.1462 375.155 21.7021L373.621 21.315C373.428 22.1338 372.728 22.5954 371.745 22.5954C370.554 22.5954 369.72 21.7914 369.572 20.4962H375.303C375.318 20.3622 375.333 20.0495 375.333 19.8262ZM369.646 19.2605C369.884 18.1439 370.614 17.5186 371.641 17.5186C372.832 17.5186 373.502 18.2481 373.606 19.2605H369.646ZM376.842 23.8608H378.465V20.5706C378.465 18.7692 379.224 17.6973 380.49 17.6973C381.443 17.6973 382.023 18.3523 382.023 19.2903V23.8608H383.646V18.9181C383.646 17.2953 382.529 16.2383 380.936 16.2383C379.835 16.2383 378.971 16.804 378.465 17.6079V16.3574H376.842V23.8608ZM388.916 23.9799C390.747 23.9799 392.042 23.042 392.355 21.4788L390.762 21.1661C390.583 22.0445 389.913 22.5656 388.96 22.5656C387.68 22.5656 386.831 21.5979 386.831 20.1091C386.831 18.6203 387.665 17.6526 388.96 17.6526C389.913 17.6526 390.613 18.2332 390.762 19.0818L392.34 18.7692C392.087 17.2209 390.762 16.2383 388.916 16.2383C386.668 16.2383 385.149 17.8015 385.149 20.1091C385.149 22.4167 386.668 23.9799 388.916 23.9799ZM400.776 19.8262C400.776 17.995 399.496 16.2383 397.084 16.2383C394.702 16.2383 393.422 18.0844 393.422 20.1091C393.422 22.1338 394.776 23.9799 397.159 23.9799C398.915 23.9799 400.196 23.1462 400.598 21.7021L399.064 21.315C398.871 22.1338 398.171 22.5954 397.188 22.5954C395.997 22.5954 395.164 21.7914 395.015 20.4962H400.747C400.761 20.3622 400.776 20.0495 400.776 19.8262ZM395.089 19.2605C395.327 18.1439 396.057 17.5186 397.084 17.5186C398.275 17.5186 398.945 18.2481 399.049 19.2605H395.089Z"
            fill="#8A919E"
          />
          <path
            d="M439.43 23.8608H441.142L444.998 13.4393H443.226L440.279 21.8063L437.375 13.4393H435.589L439.43 23.8608ZM448.484 23.9799C450.732 23.9799 452.355 22.3572 452.355 20.1091C452.355 17.861 450.732 16.2383 448.484 16.2383C446.221 16.2383 444.613 17.861 444.613 20.1091C444.613 22.3572 446.221 23.9799 448.484 23.9799ZM448.484 22.5656C447.144 22.5656 446.251 21.5532 446.251 20.1091C446.251 18.665 447.144 17.6526 448.484 17.6526C449.809 17.6526 450.717 18.665 450.717 20.1091C450.717 21.5532 449.809 22.5656 448.484 22.5656ZM453.855 23.8608H455.478V13.3202H453.855V23.8608ZM464.206 16.3574H462.583V19.6476C462.583 21.449 461.824 22.5209 460.573 22.5209C459.621 22.5209 459.025 21.8659 459.025 20.9279V16.3574H457.402V21.3001C457.402 22.9229 458.519 23.9799 460.127 23.9799C461.214 23.9799 462.092 23.4142 462.583 22.6103V23.8608H464.206V16.3574ZM466.126 23.8608H467.748V20.0644C467.748 18.6352 468.389 17.6377 469.505 17.6377C470.458 17.6377 470.979 18.263 470.979 19.2009V23.8608H472.587V20.0644C472.587 18.6203 473.227 17.6377 474.344 17.6377C475.297 17.6377 475.833 18.263 475.833 19.2009V23.8608H477.455V18.799C477.455 17.2804 476.413 16.2383 474.805 16.2383C473.629 16.2383 472.736 16.9082 472.334 17.727C472.021 16.7593 471.158 16.2383 469.952 16.2383C468.865 16.2383 468.15 16.804 467.748 17.6228V16.3574H466.126V23.8608ZM486.309 19.8262C486.309 17.995 485.028 16.2383 482.617 16.2383C480.235 16.2383 478.954 18.0844 478.954 20.1091C478.954 22.1338 480.309 23.9799 482.691 23.9799C484.448 23.9799 485.728 23.1462 486.13 21.7021L484.597 21.315C484.403 22.1338 483.703 22.5954 482.721 22.5954C481.53 22.5954 480.696 21.7914 480.547 20.4962H486.279C486.294 20.3622 486.309 20.0495 486.309 19.8262ZM480.622 19.2605C480.86 18.1439 481.589 17.5186 482.617 17.5186C483.808 17.5186 484.478 18.2481 484.582 19.2605H480.622Z"
            fill="#8A919E"
          />
        </g>
        <defs>
          <clipPath id="clip0">
            <rect width="502" height="36.2892" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </nav>
    <div class="wrapped">
      <div class="circles-wrapper">
        <div class="circles-inner circles--splash">
          <div class="circles circles--splash">
            <div class="circle circle--outer circles--splash"></div>
            <div class="circle circle--middle circles--splash"></div>
            <div class="circle circle--inner circles--splash"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="client">
      <img
        src="https://www.aircaraibes.com/sites/aircaraibes.com/themes/ac_com/logo.png"
      />
    </div>
    <div class="logo">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 0C3.19882 0 0 3.19882 0 16C0 28.8024 3.19882 32 16 32C28.8024 32 32 28.8012 32 16C32.0012 3.19882 28.8024 0 16 0Z"
          fill="#3E83FF"
        />
        <path
          d="M7.55176 12.7114C7.55176 11.4132 8.60349 10.3627 9.90047 10.3627C10.549 10.3627 11.1361 10.6256 11.5618 11.0501C11.9874 11.4745 12.2492 12.0617 12.2492 12.7114V12.7161C12.2492 14.0143 11.1974 15.0648 9.90047 15.0648C8.60349 15.0648 7.55176 14.0131 7.55176 12.7161V12.7114Z"
          fill="white"
        />
        <path
          d="M17.8733 17.4172V20.7021C17.8733 22.7831 16.1872 24.468 14.1085 24.468L11.2941 24.4692C9.21655 24.4692 7.5293 22.7831 7.5293 20.7032C7.5293 18.6233 9.21537 16.9373 11.2953 16.9373L17.3922 16.9361H17.3958C17.5278 16.9361 17.6469 16.9903 17.733 17.0764C17.8191 17.1637 17.8733 17.2827 17.8733 17.4148V17.4172Z"
          fill="white"
        />
        <path
          d="M24.4469 19.2882C24.4469 20.5852 23.3952 21.6369 22.0982 21.6369C20.8012 21.6369 19.7495 20.5852 19.7495 19.2882V19.2835C19.7495 17.9865 20.8012 16.9348 22.0982 16.9348C22.7467 16.9348 23.3339 17.1977 23.7595 17.6222C24.1852 18.0478 24.4469 18.635 24.4469 19.2835V19.2882Z"
          fill="white"
        />
        <path
          d="M20.6998 15.0639L14.6087 15.0651H14.604C14.4731 15.0639 14.3528 15.0108 14.2668 14.9248C14.1807 14.8375 14.1265 14.7184 14.1265 14.5864V14.584V11.2991C14.1265 9.21805 15.8137 7.53316 17.896 7.53316L20.6998 7.53198C22.7797 7.53198 24.4705 9.21805 24.4705 11.2979C24.4705 13.3778 22.782 15.0639 20.6998 15.0639Z"
          fill="white"
        />
      </svg>
    </div>
    <div id="container">
      <%= yield %>
    </div>


    <% if development? %>
      <div id="saving-instructions">
        <p>Paste the following at the top of <i><%= params[:dashboard] %>.erb</i></p>
        <textarea id="gridster-code"></textarea>
      </div>
      <a href="#saving-instructions" id="save-gridster">Save this layout</a>
    <% end %>
  </body>
  <script src="https://cdn.rawgit.com/dataarts/webgl-globe/2d24ba30/globe/third-party/three.min.js"></script>
  <!-- <script src="https://cdn.rawgit.com/dataarts/webgl-globe/2d24ba30/globe/globe.js"></script> -->
  <!-- partial -->
  <script src="https://cdn.rawgit.com/dataarts/webgl-globe/2d24ba30/globe/third-party/Detector.js"></script>
  <script src="https://cdn.rawgit.com/dataarts/webgl-globe/2d24ba30/globe/third-party/Tween.js"></script>
  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">
</html>
